#BookingInfo {
  [draggable='true'] .productSegment {
    cursor: move;
  }
  .productSegment {
    margin-bottom: 10px;
    padding: 0.5rem 1rem;
    min-height: 64px;
    align-items: center;
    justify-content: center;
    display: flex;
    > div {
      flex-grow: 1;
    }
    .productName .header {
      color: #3e3f42;
      font-size: 16px;
      font-weight: 500;
      margin: 0px;
    }
    .productName .subInfo {
      color: #9ea0a5;
      font-size: 14px;
      font-weight: 400;
      display: inherit;
      a {
        color: #9ea0a5;
        padding: 0px 2px;
      }
    }
    .productPrice {
      width: 95px;
      .header {
        font-size: 16px;
        color: #9ea0a5;
      }
      #editPriceInput {
        text-align: right;
        font-size: 16px;
        font-weight: 600;
        padding: 9px 8px;
        width: 50px;
      }
    }
    .productPriceInput {
      width: 120px;
      .input {
        max-width: 100%;
        input {
          text-align: right;
          font-size: 16px;
          font-weight: 600;
          padding: 9px 8px;
          width: 50px;
        }
      }
    }
  }
}
