#CreateBookingPage {
  height: 100%;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0;
  .dropBox.delete {
    position: sticky;
    width: 100%;
    bottom: 10px;
    margin-top: 18px;
  }
  & > .stretched.row > .column > * {
    flex-grow: unset;
  }
  .header-bar {
    height: 70px;
  }
  .date-picker-bar {
    flex-grow: unset;
    // overflow: hidden;
  }
  .booking-section {
    flex-grow: 1;
  }
}

#BookingInfo {
  overflow: auto;
  max-height: 100%;
  position: relative;
}
