.board {
  .ui.card {
    width: 252px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #0000000a;
    border: 1px solid #eaedf3;
    border-radius: 4px;
    &.bg-red {
      background-color: #f6ab2f;
    }
    .truncate {
      &.description {
        min-height: 18.69px;
      }
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .content {
      .header:not(.ui),
      .description {
        a {
          color: #3e3f42 !important;
        }
      }
      i:hover {
        cursor: pointer;
      }
    }
  }
  .board-column-content {
    .ui.card {
      border-left: 3px solid #d8dce6;
      .bookingButtonsRow {
        padding: 0 !important;
      }
      .bookingButtons {
        padding: 0 !important;
        margin-right: 0 !important;
        height: 42px;
        box-shadow: none !important;
        width: 33.3%;
        border-radius: 0 !important;
        i.small.icon {
          font-size: 0.95em !important;
        }
      }
      .bookingButtons:disabled {
        opacity: 1 !important;
      }
      .bookingButtons:nth-child(2) {
        border-left: 1px solid rgba(34, 36, 38, 0.1) !important;
        border-right: 1px solid rgba(34, 36, 38, 0.1) !important;
      }
      .extra.content {
        min-height: 43px !important;
        .header {
          p {
            display: inline-block;
          }
          .truncate {
            width: 140px !important;
            white-space: nowrap;
            overflow: hidden !important;
            text-overflow: ellipsis !important;
          }
          .label {
            font-size: 11px;
          }
        }
      }
    }
  }
}
