.buttonWithDatePicker {
  display: flex;
  z-index: 2;
  button {
    margin-right: 0 !important;
  }
}
.DateAndPlacePicker {
  display: flex !important;
  .ui.icon.input {
    width: 173px;
  }
  input {
    border-radius: 0 !important;
    height: 38.5px;
  }

  button,
  .ui.labeled.icon.button {
    height: 38.5px;
  }
  button:first-of-type {
    box-shadow: none !important;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
  }
  button:nth-of-type(2) {
    box-shadow: none !important;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: none !important;
  }
}
