.mb0 {
  margin-bottom: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.ml-15 {
  margin-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.ml-30 {
  margin-left: 30px !important;
}
.mr-2 {
  margin-right: 2px !important;
}
.mr-5 {
  margin-right: 5px !important;
}
.mr-8 {
  margin-right: 8px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}
.pt-2 {
  padding-top: 2px !important;
}
.pt-5 {
  padding-top: 5px !important;
}
.pt-8 {
  padding-top: 8px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-15 {
  padding-top: 15px !important;
}
.pr-2 {
  padding-right: 2px !important;
}
.pr-5 {
  padding-right: 5px !important;
}
.pr-8 {
  padding-right: 8px !important;
}
.pr-10 {
  padding-right: 10px !important;
}
.pr-15 {
  padding-right: 15px !important;
}
.mt-2 {
  margin-top: 2px !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
.width-100 {
  width: 100px;
}
.width-150 {
  width: 150px;
}
.width-200 {
  width: 200px;
}
.width-250 {
  width: 250px;
}
.float-right {
  float: right !important;
}
.zIndex1 {
  z-index: 1 !important;
}
.timeslotButtonsRow .notesNumberIcon {
  border-radius: '2px';
  color: '#216CDA';
  background-color: '#E7EFFB';
  padding: '2px 4px';
}
.ui.basic.button.bg-white {
  background-color: white !important;
}

.ui.segment.clndr-calendars-segment {
  /* to prevent shadowing due background color div added */
  z-index: 9999;
}
.shell .ui.labeled.icon.button {
  z-index: 9999;
}
.shell .ui.active.dimmer {
  z-index: 999 !important;
}
.ui.internally.celled.grid .row {
  padding-left: 18px;
}

.ui.segment.clndr-calendars-segment .button {
  border-left: none !important;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) inset !important;
}
/* scrolling in view booking page */
.doubleScroll1,
.doubleScroll2 {
  overflow: auto;
  height: calc(100vh - 186.5px);
  background-color: rgba(251, 251, 253, 1);
}
.board {
  padding-top: 15px;
  position: relative;
  height: -webkit-fill-available;
  display: flex;
}
.board .ui.header {
  font-weight: 500 !important;
  color: #3e3f42 !important;
}
.board .ui.card .content .header:not(.ui) a {
  font-weight: 500 !important;
}
.board-column {
  /* if drag drop enabled then */
  position: relative;
  /* comment above and uncomment below
  position: absolute; */
  top: 0;
  left: 0;
  height: auto;
  display: block;
  min-height: 500px;
  margin: 0 15px;
  border-radius: 3px;
  z-index: 1;
}

.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;
  margin-bottom: 1em;
}
@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}

.board-column-content {
  position: relative;
  min-height: 500px;
}
.board-item {
  position: relative;
  width: 100%;
  margin: 10px 0;
}
.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
}
@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}
/* no booking text style  */
.noBookings {
  position: absolute;
  top: 50%;
  left: 500px;
  width: max-content;
}
.timeslotButtonsRow {
  padding: 0 !important;
}
.timeslotButtons {
  padding: 0 !important;
  margin-right: 0 !important;
  height: 42px;
  box-shadow: none !important;
  width: 125px;
  border-radius: 0 !important;
}
