#CreateBookingPage .clndr-days {
  grid-gap: 2px;
  width: 230px;
}
.DatePicker {
  &.ui.fluid.selection.dropdown {
    padding: 0px;
    display: flex;
    transform: none;
  }
  .react-date-picker__wrapper {
    border: none;
    width: 100%;
    flex-direction: row-reverse;
  }
  .react-date-picker__inputGroup {
    display: flex;
    padding: 0px 20px 0px 10px;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    .react-date-picker__inputGroup__input {
      color: #3e3f42;
    }
    input.react-date-picker__inputGroup__input.react-date-picker__inputGroup__day {
      // flex-grow: 1;
      text-align: right;
      padding: 0px 2px;
      min-width: 20px !important;
      color: #3e3f42;
    }
    input.react-date-picker__inputGroup__input.react-date-picker__inputGroup__year {
      display: none;
    }
    span.react-date-picker__inputGroup__divider {
      display: none;
    }
  }
}
