.ui.grid > .row > .stretched.column,
.ui.grid > .stretched.column:not(.row),
.ui.grid > .stretched.row > .column,
.ui.stretched.grid > .column,
.ui.stretched.grid > .row > .column {
  flex-grow: 1;
}

.bs-none {
  box-shadow: none !important;
}
.row.padded-columns .column:first-child {
  padding: 0 !important;
}
.row.padded-columns .column:not(:first-child) {
  padding: 25px 30px !important;
}
.row.padded-columns .column:first-child .ui.basic.button {
  padding: 25px 30px !important;
  box-shadow: none !important;
}
.middle.aligned.six.wide.column > .ui.small.header {
  font-size: 18px;
}
.ui[class*='internally celled'].grid {
  height: inherit;
}
