.ui.labeled.icon.button > .icon {
  background: transparent !important;
  color: rgba(206, 207, 210, 1) !important;
}
.ui.labeled.icon.button > .icon.right {
  left: unset !important;
  right: 0 !important;
}
.shell .ui.labeled.icon.button .text {
  margin-left: 10px;
}
