@import './dropdown.scss';
@import './forms.scss';
@import './grid.scss';
@import './headers.scss';
@import './segments.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

@media screen and (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  body {
    padding-top: 50px;
  }
}

* {
  font-family: Roboto;
}

// :root {
//   --top-menu-height: 4em;
// }

// .top-menu {
//   height: var(--top-menu-height);
// }

// .shell {
//   width: 100%;
//   display: grid;
//   grid: var(--top-menu-height) / 1fr;
//   grid-template-areas:
//     "menu"
//     "maincontent";
//   min-height: 100vh;
// }

// .menu {
//   grid-area: menu;
//   z-index: 100;
// }

// .main-content {
//   grid-area: maincontent;
//   background-color: #fff;
// }

// .parent {
//   display: inline-flex;
// }

// .side {
//   transition: width 0.3s;
//   width: 14em !important;
//   overflow: hidden;
//   padding-top: var(--top-menu-height);
//   z-index: 99;
// }

// .small-side {
//   width: 4em !important;
//   flex-basis: 4em;
// }

// .content {
//   position: absolute;
//   right: 0;
//   transition: all 0.3s;
//   padding: 10px;
//   width: calc(100% - 14em);
// }

// .small-content {
//   padding:0;
//   width: calc(100% - 4em);
// }

// .logo-space {
//   font-family: "Roboto Light", serif;
//   font-size: 24px;
//   /*margin: 0 auto;*/
// }

// .no-border::before {
//   display: none;
// }

// /*.top-menu i.icon {
//     margin: 0 !important;
// }*/

// .drop-left-padding {
//   padding-left: 0 !important;
// }

// .ui.menu {
//   /*border: none !important;*/
//   box-shadow: none !important;
// }

// .ui.dropdown.title i {
//   margin-left: 10px;
// }

// .ui.breadcrumb {
//   font-size: 1.1rem !important;
//   margin-left: 20px !important;
// }

// h2.main-title {
//   margin-left: 2rem !important;
// }

// .bottom-bordered {
//   border-bottom: 1px solid rgba(34, 36, 38, 0.15);
// }

// .active.item i {
//   color: #2185d0 !important;
// }
// >>>>>>> 26f294abd43233308b3dc24b0e694eb1e81ff7ec

// @media screen and (max-width: 767px) {
//   body {
//     padding-top: 50px;
//   }
// }

// * {
//   font-family: Roboto;
// }

// :root {
//   --top-menu-height: 4em;
// }

// .top-menu {
//   height: var(--top-menu-height);
// }

// .shell {
//   width: 100%;
//   display: grid;
//   grid: var(--top-menu-height) / 1fr;
//   grid-template-areas:
//     "menu"
//     "maincontent";
//   min-height: 100vh;
// }

// .menu {
//   grid-area: menu;
//   z-index: 100;
// }

// .main-content {
//   grid-area: maincontent;
//   background-color: #fff;
// }

// .parent {
//   display: inline-flex;
// }

// .side {
//   transition: width 0.3s;
//   width: 14em !important;
//   overflow: hidden;
//   padding-top: var(--top-menu-height);
//   z-index: 99;
// }

// .small-side {
//   width: 4em !important;
//   flex-basis: 4em;
// }

// .content {
//   position: absolute;
//   right: 0;
//   transition: all 0.3s;
//   padding: 10px;
//   width: calc(100% - 14em);
// }

// .small-content {
//   padding: 10px;
//   width: calc(100% - 4em);
// }

// .drop-left-padding {
//   padding-left: 0 !important;
// }

// .label-on-corner {
//   top: 0.8em !important;
//   left: 78% !important;
// }

// .ui.menu {
//   box-shadow: none !important;
// }

// .ui.dropdown.title i {
//   margin-left: 10px;
// }

// .ui.breadcrumb {
//   font-size: 1.1rem !important;
//   margin-left: 20px !important;
// }

// h2.main-title {
//   margin-left: 2rem !important;
// }

// .bottom-bordered {
//   border-bottom: 1px solid rgba(34, 36, 38, 0.15);
// }

// .ui.menu.item div i {
//   color: #767676;
// }
textarea,
select,
input,
button {
  outline: none;
}

.ui.page.modals.transition.visible {
  display: flex !important;
}

@media only screen and (min-width: 990px) {
  i.close.icon::before {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    color: rgb(59, 59, 59);
    left: -35px;
    top: 45px;
  }
}
#BroadcastError {
  color: red;
  padding: 1%;
}
.Reciver {
  width: 100%;
  border: rgba(34, 36, 38, 0.15) 1px solid;
  padding: 1%;
  margin: 1%;
}

.pointer-cursor {
  cursor: pointer;
}
