.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  justify-content: flex-start !important;
}
.ui.page.modals {
  padding-right: 60px !important;
}
.ui.modal.transition.visible.active {
  &.small {
    margin-top: 5vh !important;
  }
  &.mini {
    margin-top: 25vh !important;
  }
  .ui.basic.button {
    margin-bottom: 1em;
  }
}
.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.02) !important;
}
.ui.active.dimmer {
  z-index: 999999;
}
.ui.modal > .close {
  color: rgba(206, 207, 210, 1) !important;
  margin-top: 10px;
  margin-right: 10px;
}
i.close.icon::before {
  color: rgba(206, 207, 210, 1) !important;
}
