.segment {
  &.ui:not(.inverted).left {
    &.green {
      border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
      border-left: 4px solid #21ba45 !important;
    }
    &.orange {
      border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
      border-left: 4px solid #f2711c !important;
    }
    &.red {
      border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
      border-left: 4px solid #db2828 !important;
    }
    &.blue {
      border-top: 1px solid rgba(34, 36, 38, 0.15) !important;
      border-left: 4px solid #4392f1 !important;
    }
  }
}
