.ui.menu.fixed.sidemenu {
  width: 210px;
  overflow: hidden;
  transition: all 0.5s;
  top: 56px;
  &.smallMenu {
    width: 62px;
  }
  a.item {
    div {
      align-items: center;
    }
    &.active {
      i {
        color: #2185d0 !important;
      }
    }
  }
  a.item.logo-space-menu-item {
    height: 56px;
    display: flex;
    align-items: center;
    font-size: 21px;
    position: fixed;
    top: 0px;
    .logo-space {
      display: inline-block;
    }
  }
}
.logo-space-menu-item {
  width: 62px !important;
  padding-left: 20px !important;
  border-right: 1px solid #d4d4d5 !important;
}
