.ui.top.fixed.menu {
  transition: all 0.5s;
  padding-left: 62px;
  &.smallMenu {
    padding-left: 62px;
  }
  .item {
    padding: 10px;
  }
  .left.menu {
    padding-left: 22px;
  }
}

.display-inline {
  display: inline-flex;
  align-items: center;
}

.logo-space img,
.display-inline img {
  margin-right: 8px;
}
.label-on-corner {
  top: 0.5em !important;
  left: 82% !important;
}

.place-over-bell {
  position: absolute;
  z-index: 100;
  margin: 5px 0 0 -25px !important;
}

.no-border::before {
  display: none;
}
