.counter {
  border-color: #dedede !important;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  .ui {
    &.input {
      > input {
        width: 24px;
        border-radius: 0px;
        border: none;
        font-size: 14px;
        text-align: center;
        padding: 0px;
      }
    }
    &.basic.blue.button {
      box-shadow: 0 0 0 0px #2185d0 inset !important;
    }
    &.button {
      font-weight: bold;
      font-size: 14px;
    }
  }
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
