.row.date-picker-bar {
  .thirteen.wide.column {
    display: flex;
    align-items: center;
    .ui.grid {
      width: 100%;
    }
  }
  .row.date-picker-bar {
    .wide.column {
      display: flex;
      align-items: center;
    }
  }
}
