.slotPicker.ui.selection.dropdown {
  padding: 10px 29px 0px 16px;
  max-width: 272px;
  display: inline-block;
  + .header {
    display: inline;
    margin-left: 18px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    color: #6b6c6f;
  }
  .menu > .item,
  .text {
    display: flex;
    .header {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      color: #3e3f42;
      margin: 0px;
      &.price {
        color: #6b6c6f;
        flex-grow: 1;
        text-align: right;
      }
      &.status {
        color: #6b6c6f;
        width: 50px;
        flex-grow: unset;
        text-align: right;
        margin-left: 20px;
      }
    }
  }
}

.slotPickerLoader {
  display: inline-block !important;
}
