#UpdateBookingPage {
  height: 100%;
  flex-direction: column;
  position: relative;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0;
  form i:hover {
    cursor: pointer;
  }
  .ui.column.moveButton:hover {
    cursor: pointer;
  }
  .PayNowModalTriggerButton {
    position: sticky;
    bottom: 0px;
    min-height: 4em;
  }
  .dropBox.delete {
    position: sticky;
    width: 100%;
    bottom: -20px;
    margin-top: 0px;
  }
  & > .stretched.row > .column > * {
    flex-grow: unset;
  }
  .header-bar {
    height: 70px;
  }
  .date-picker-bar {
    flex-grow: unset;
    // overflow: hidden;
  }
  .booking-section {
    flex-grow: 1;
    height: inherit;
    overflow: hidden;
  }
}

#BookingInfo {
  overflow: auto;
  max-height: 100%;
  position: relative;
}

.booking-section {
  .three.column.wide {
    height: inherit;
    overflow: auto;
  }
  .eight.column.wide {
    height: inherit;
    overflow: auto;
  }
}

#actions-footer {
  button {
    border: 0px;
    box-shadow: 0 0 0 2px #fff inset !important;
    padding: 0px;
  }
  .column {
    min-height: 66px;
  }
  #blue {
    button {
      border: 0px;
      padding: 0px;
      box-shadow: none !important;
    }
    button:hover {
      background: none !important;
    }
    button:focus {
      background: none !important;
    }
    &.blue {
      button {
        color: white !important;
      }
    }
  }
}
