#ProductsAndPromitions {
  .ui.secondary.pointing.menu {
    display: flex;
    .item {
      flex-grow: 1;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      text-align: center;
      color: #3e3f42;
      border-bottom-width: 3px;
      &.active {
        border-color: #1665d8;
      }
    }
  }
  > .ui.segment.active.tab {
    box-shadow: none;
    border: 0px solid rgba(34, 36, 38, 0.15);
  }
  .productSegment {
    margin-bottom: 10px;
    padding: 20.15px 20px;
    .productName .header {
      color: #3e3f42;
      font-size: 16px;
      font-weight: 400;
    }
    .productPrice {
      width: 95px;
      .header {
        font-size: 16px;
        color: #9ea0a5;
        font-weight: 400;
      }
    }
  }
}
