.dropBox {
  transition: all 0.2s;
  height: 0px;
  overflow: hidden;
  &.canDrop {
    min-height: 72px;
    .segment {
      height: 69px;
      align-items: center;
      flex-direction: column;
      display: flex;
      justify-content: center;
      background: #dddddd59;
    }
  }
  &.isOver {
    .segment {
      background: #f2711c;
      &.green {
        background: #21ba45;
      }
      .header {
        color: #fff;
        font-weight: bold;
      }
    }
  }
  .segment {
    height: 0px;
    transition: all 0.2s;
    .header {
      transition: all 0.2s;
    }
  }
  &.delete {
    min-height: 72px;
    background-color: #fff;
    &.isOver .segment {
      background: #dddddd59;
      .header {
        color: #000;
      }
    }
    .segment {
      height: 69px;
      align-items: center;
      flex-direction: column;
      display: flex;
      justify-content: center;
      border-style: dashed;
      border-radius: 0;
      img {
        width: 21px;
        height: 20px;
        object-fit: contain;
      }
      .header {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}
