#CreateBookingPage {
  label[for='phonenumber'] {
    color: #9ea0a5 !important;
    display: block;
    margin: 0 0 0.28571429rem 0;
    font-size: 0.92857143em;
    font-weight: 700;
    text-transform: none;
  }

  #phonefield {
    display: flex;
    .ui.input {
      width: 65%;
    }
  }
  #phonecode {
    min-width: unset !important;
    width: 35%;
  }
}
